body {
    /**background: white; **/
    font-family: arial;
}
main {
    /**background-color: white; **/
    Padding: 3px;
    margin: 2%, 5%, 2%, 5%;
}
Header {
    margin-bottom: 3%;
}

h1, h2, li{
    color: navy;
}
a {
    color: rgb(0, 34, 128);
}
a:hover{
    text-decoration: none;
}
p{
    background: white;
    color: black;
    padding: All;
}
.Nav{
    background:navy;
    margin: 18px;
    padding-top: 100px;
}
.main a{
    background:White;
}
.footer a{
    background: navy;
    color:white;
    padding-bottom:100px;
}