body {
    background: #922f2f;
    font-family: arial;
}
main {
    background-color: white;
    Padding: 3px;
}
header {
    background-color: navy;
    margin-bottom: 3%;
}

h1, h2, li{
    color:#555;
}
a {
    color: green;
}

p{
    background: #666;
    color: white;
    padding: All;
}
.Nav{
    background:none;
    color: #777;
}
.main{
    background:none;
    color: #777;
}
.footer{
    background:none;
    color: #777;
}