body {
    background: white;
    font-family: arial;
}
main {
    background-color: white;
    Padding: 3px;
}
Header {
    /**background-color: navy; **/
    margin-bottom: 3%;
}

h1, h2, li{
    color: black;
}
a {
    color: rgb(0, 34, 128);
}
p{
    background: white;
    color: black;
    padding: All;
}
/**.Nav{
    background:blue;
}
.main{
    background:White;
}
.footer{
    background:blue;
} **/